asgiref==3.7.2
certifi==2023.5.7
distlib==0.3.6
dj-database-url==2.0.0
Django==4.2.1
django-heroku==0.3.1
filelock==3.12.0
gunicorn==20.1.0
Pillow==9.5.0
pipenv==2023.5.19
platformdirs==3.5.1
psycopg2==2.9.6
python-decouple==3.8
sqlparse==0.4.4
typing_extensions==4.6.3
tzdata==2023.3
virtualenv==20.23.0
virtualenv-clone==0.5.7
whitenoise==6.4.0
