{% extends 'main.html' %}
{% load static %}
{%block content %}
<div class="cont">
    <div class="col-1">
        <h1>About vaccination</h1>
        <h4>
            <center>Immunization is a global health and development success story, saving millions of lives every year. Vaccines reduce risks of getting a disease by working with your body’s natural defences to build protection. When you get a vaccine, your immune system responds.

                We now have vaccines to prevent more than 20 life-threatening diseases, helping people of all ages live longer, healthier lives. Immunization currently prevents 3.5-5 million deaths every year from diseases like diphtheria, tetanus, pertussis, influenza and measles.
                
                Immunization is a key component of primary health care and an indisputable human right. It’s also one of the best health investments money can buy. Vaccines are also critical to the prevention and control of infectious disease outbreaks. They underpin global health security and will be a vital tool in the battle against antimicrobial resistance.
                
                Yet despite tremendous progress, vaccination coverage has plateaued in recent years and dropped since 2020. The COVID-19 pandemic and associated disruptions over the past two year have strained health systems, with 25 million children missing out on vaccination in 2021, 6 million more than in 2019 and the highest number since 2009.
                
                By the end of 2021, nearly all countries had introduced COVID-19 vaccination, and by early 2022 one billion doses of COVID-19 vaccine had been delivered through COVAX.</center>
          
        </h4>
        </div>
    <div class="col-1" style="background-color: rgba(10, 10, 10, 0.871); border-radius: 10px;padding: 10px; ">
        <footer>
                  <h4>About the Developer</h4>
                  <p>
                    Dharun is a passionate web developer with expertise in HTML, CSS, and JavaScript as frontend and Django,Java Awt as backend. He loves building interactive and user-friendly websites.
                  </p>
                
                <h4>Contact Information</h4>
                <ul>
                    <li>Email: dharuntkv@gmail.com</li>
                    <li>Phone: +1 123-456-7890</li>
                    <li>Git: <a href="https://github.com/dharunsri09">My works</a></li>
                </ul>
          </footer>
    </div>

    
</div>
{% endblock content %}